In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
sal=pd.read_csv("E://Datasets//New Dataset//Position_Salaries.csv")
sal.head(10)

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [6]:
#splitting data into independent and dependent variable.
x_data=sal.iloc[:,1:2].values
y_data=sal.iloc[:,2].values

In [7]:
y_data

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000], dtype=int64)

In [10]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2)

In [11]:
sal_poly=poly.fit_transform(x_data)

In [12]:
sal_poly

array([[  1.,   1.,   1.],
       [  1.,   2.,   4.],
       [  1.,   3.,   9.],
       [  1.,   4.,  16.],
       [  1.,   5.,  25.],
       [  1.,   6.,  36.],
       [  1.,   7.,  49.],
       [  1.,   8.,  64.],
       [  1.,   9.,  81.],
       [  1.,  10., 100.]])

In [13]:
poly.fit(sal_poly,y_data)

PolynomialFeatures(degree=2, include_bias=True, interaction_only=False,
                   order='C')